TetradEstimator/schemas/TetradEstimator_v1_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ls="http://learnsphere.org/ls" >

  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd" />

  <xs:complexType name="InputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList0" name="files" />
              <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InputDefinition1">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList1" name="files" />
             <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InFileList0">
    <xs:choice>
      <xs:element ref="file"  minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="InFileList1">
    <xs:choice>
      <xs:element ref="file" minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="InputType">
    <xs:all>
      <xs:element name="input0" type="InputDefinition0" minOccurs="0" />
      <xs:element name="input1" type="InputDefinition1" minOccurs="0" />
    </xs:all>
  </xs:complexType>


  <xs:complexType name="InputLabel">
    <xs:all>
      <xs:element name="input0" type="xs:string" default="tab-delimited" minOccurs="0" />
      <xs:element name="input1" type="xs:string" default="tetrad-graph" minOccurs="0" />
    </xs:all>
  </xs:complexType>


  <xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList0" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="tetrad-graph" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="OutputDefinition1">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList1" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="OutFileList1">
    <xs:choice>
      <xs:element ref="tetrad-bayesIM" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0" />
      <xs:element name="output1" type="OutputDefinition1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="option_dependency">
    <xs:choice>
      <xs:element type="conjunctive" name="modelDependency" ls:dependentOption="estimator" ls:dependsOn="parametricModel" ls:constraint="matches(Bayes_Parametric_Model)" />

      <xs:element type="conjunctive" name="pseudocountsDependency1" ls:dependentOption="pseudocounts" ls:dependsOn="parametricModel" ls:constraint="matches(Bayes_Parametric_Model)" />
      <xs:element type="conjunctive" name="pseudocountsDependency2" ls:dependentOption="pseudocounts" ls:dependsOn="estimator" ls:constraint="matches(Dirichlet_Estimator)" />

      <xs:element type="conjunctive" name="toleranceDependency1" ls:dependentOption="tolerance" ls:dependsOn="parametricModel" ls:constraint="matches(Bayes_Parametric_Model)" />
      <xs:element type="conjunctive" name="toleranceDependency2" ls:dependentOption="tolerance" ls:dependsOn="estimator" ls:constraint="matches(EM_Bayes_Estimator)" />

      <xs:element type="conjunctive" name="optimizerDependency" ls:dependentOption="optimizer" ls:dependsOn="parametricModel" ls:constraint="matches(SEM_Parametric_Model)" />

      <xs:element type="conjunctive" name="scoreDependency" ls:dependentOption="score" ls:dependsOn="parametricModel" ls:constraint="matches(SEM_Parametric_Model)" />

      <xs:element type="conjunctive" name="randomRestartsDependency" ls:dependentOption="randomRestarts" ls:dependsOn="parametricModel" ls:constraint="matches(SEM_Parametric_Model)" />
      </xs:choice>
  </xs:complexType>


  <xs:simpleType name="incompleteRowsType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Randomize_incomplete_rows" />
      <xs:enumeration value="Do_not_randomize_incomplete_rows" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="parametricModelType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Bayes_Parametric_Model" />
      <xs:enumeration value="SEM_Parametric_Model" />
    </xs:restriction>
  </xs:simpleType>

   <xs:simpleType name="estimatorType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ML_Bayes_Estimator" />
      <xs:enumeration value="Dirichlet_Estimator" />
      <xs:enumeration value="EM_Bayes_Estimator" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="optimizerType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Regression" />
      <xs:enumeration value="EM" />
      <xs:enumeration value="Powell" />
      <xs:enumeration value="Random_Search" />
      <xs:enumeration value="RICF" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="scoreType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fml" />
      <xs:enumeration value="Fgls" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="OptionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element type="parametricModelType" name="parametricModel" id="parametricModel" default="Bayes_Parametric_Model" />
      <xs:element type="estimatorType" name="estimator" id="Estimator_Model" default="ML_Bayes_Estimator" />
      <xs:element type="optimizerType" name="optimizer" id="Choose_Optimizer" default="Regression" />
      <xs:element type="scoreType" name="score" id="Score" default="Fgls" />
      <xs:element type="incompleteRowsType" name="incompleteRows" id="incompleteRows" default="Randomize_incomplete_rows" />
      <xs:element type="xs:double" name="pseudocounts" id="Estimate_using_a_prior_with_all_pseudocounts_" default="1.0000" />
      <xs:element type="xs:double" name="tolerance" id="Iterate_until_less_than_this_tolerance" default="0.0001" />
      <xs:element type="xs:integer" name="randomRestarts" id="Random_Restarts" default="1" />
    </xs:choice>
  </xs:complexType>

  <xs:element name="component">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:integer" name="workflow_id" />
        <xs:element type="xs:string" name="component_id" />
        <xs:element type="xs:string" name="component_id_human" />
        <xs:element type="xs:string" name="component_name" />
        <xs:element type="xs:string" name="component_type" />
        <xs:element type="xs:double" name="left"  />
        <xs:element type="xs:double" name="top"  />
        <xs:element name="connections" minOccurs="0" maxOccurs="1"  type="ConnectionType" />

        <xs:element name="inputs" type="InputType" minOccurs="0" />
        <xs:element name="outputs" type="OutputType" minOccurs="0" />
        <xs:element name="options" type="OptionsType" minOccurs="0" />

      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>