GamingDetector/schemas/GamingDetector_v1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:ls="http://learnsphere.org/ls" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd"/>
  <xs:complexType name="InputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element name="files" type="InFileList0"/>
          <xs:any maxOccurs="unbounded" minOccurs="1" processContents="skip"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InFileList0">
    <xs:choice>
      <xs:element minOccurs="0" ref="file"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="InputType">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="input0" type="InputDefinition0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InputLabel">
    <xs:all>
      <xs:element default="transaction" minOccurs="0" name="input0" type="xs:string"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element name="files" type="OutFileList0"/>
          <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="tab-delimited"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OptionsType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element default="(?i).*transaction*" id="Transaction_ID" ls:inputFileIndex="*" ls:inputNodeIndex="*" name="transaction_id" type="FileInputHeader"/>
      <xs:element default="(?i).*anon student*" id="Student_ID" ls:inputFileIndex="*" ls:inputNodeIndex="*" name="student_id" type="FileInputHeader"/>
      <xs:element default="(?i).*session*" id="Session_ID" ls:inputFileIndex="*" ls:inputNodeIndex="*" name="session_id" type="FileInputHeader"/>
      <xs:element default="(?i).*outcome*" id="Outcome_Column" ls:inputFileIndex="*" ls:inputNodeIndex="*" name="outcome_column" type="FileInputHeader"/>
      <xs:element default="(?i).*duration*" id="Duration_Column" ls:inputFileIndex="*" ls:inputNodeIndex="*" name="duration_column" type="FileInputHeader"/>
      <xs:element default="(?i).*input*" id="Input_Column" ls:inputFileIndex="*" ls:inputNodeIndex="*" name="input_column" type="FileInputHeader"/>
      <xs:element default="(?i).*level*" id="Problem_Column" ls:inputFileIndex="*" ls:inputNodeIndex="*" name="problem_column" type="FileInputHeader"/>
      <xs:element default="(?i).*level*" id="Step_Column" ls:inputFileIndex="*" ls:inputNodeIndex="*" name="step_column" type="FileInputHeader"/>
      <xs:element default="CORRECT" id="Correct_Outcome_Values" name="correct_labels" type="xs:string"/>
      <xs:element default="INCORRECT" id="Incorrect_Outcome_Values" name="incorrect_labels" type="xs:string"/>
      <xs:element default="HINT" id="Hint_Outcome_Values" name="hint_labels" type="xs:string"/>
      <xs:element default="BUG" id="Bug_Outcome_Values" name="bug_labels" type="xs:string"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="component">
    <xs:complexType>
      <xs:all>
        <xs:element name="workflow_id" type="xs:integer"/>
        <xs:element name="component_id" type="xs:string"/>
        <xs:element name="component_id_human" type="xs:string"/>
        <xs:element name="component_name" type="xs:string"/>
        <xs:element name="component_type" type="xs:string"/>
        <xs:element name="left" type="xs:double"/>
        <xs:element name="top" type="xs:double"/>
        <xs:element maxOccurs="1" minOccurs="0" name="connections" type="ConnectionType"/>
        <xs:element minOccurs="0" name="inputs" type="InputType"/>
        <xs:element minOccurs="0" name="inputLabels" type="InputLabel"/>
        <xs:element minOccurs="0" name="outputs" type="OutputType"/>
        <xs:element minOccurs="0" name="options" type="OptionsType"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
