MultiskillConverter/schemas/MultiskillConverter_v1_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ls="http://learnsphere.org/ls" >

  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd" />

  <xs:complexType name="InputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList0" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType> 

  <xs:complexType name="InputLabel">
    <xs:all>
      <xs:element name="input0" type="xs:string" default="student-step" minOccurs="1" />
    </xs:all>
  </xs:complexType>
  

  <xs:complexType name="InFileList0">
    <xs:choice>
      <xs:element ref="file" minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  
  <xs:complexType name="InputType">
    <xs:all>
      <xs:element name="input0" type="InputDefinition0" minOccurs="0" />
    </xs:all>
  </xs:complexType> 

  <xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList0" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="student-step" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0" />
    </xs:sequence>
  </xs:complexType>


  <xs:simpleType name="conversionType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Concatenate" />
      <xs:enumeration value="Split to Multiple Rows" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="averageColumnValueType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Yes" />
      <xs:enumeration value="No" />
    </xs:restriction>
  </xs:simpleType>
  
  
  <xs:complexType name="option_dependency">
	<xs:choice>
	<xs:element type="disjunctive" name="dependency1" ls:dependentOption="kcModelsToConvert" ls:dependsOn="multiskillConversionMethod" ls:constraint="matches(Concatenate)" />
	<xs:element type="disjunctive" name="dependency2" ls:dependentOption="kcModelToConvert" ls:dependsOn="multiskillConversionMethod" ls:constraint="matches(Split to Multiple Rows)" />
	<xs:element type="disjunctive" name="dependency3" ls:dependentOption="averageColumnValues" ls:dependsOn="multiskillConversionMethod" ls:constraint="matches(Split to Multiple Rows)" />
	
	
	<xs:element type="conjunctive" name="dependency4"
			ls:dependentOption="valuesToBeSplit" ls:dependsOn="multiskillConversionMethod"
				ls:constraint="matches(Split to Multiple Rows)" />

		<xs:element type="conjunctive" name="dependency5"
			ls:dependentOption="valuesToBeSplit" ls:dependsOn="averageColumnValues"
				ls:constraint="matches(Yes)" />
	
	</xs:choice>
</xs:complexType>

  <xs:complexType name="OptionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
    	<xs:element type="conversionType" name="multiskillConversionMethod" id="Multiskill_Conversion_Method" default="Concatenate" />
      	<xs:element type="MultiFileInputHeader" name="kcModelsToConvert" id="KC_Models_to_Convert" default="\s*KC\s*\((.*)\)\s*" />
      	<xs:element type="FileInputHeader" name="kcModelToConvert" id="KC_Model_to_Convert" default="\s*KC\s*\((.*)\)\s*" />
      	<xs:element type="averageColumnValueType" name="averageColumnValues" id="Divide_Column_Value_Evenly" default="No" />
      	<xs:element type="MultiFileInputHeader" name="valuesToBeSplit" id="Values_to_Be_Divide" default=".*" />
    </xs:choice>
  </xs:complexType>


  <xs:element name="component">
    <xs:complexType>
      <xs:all >
        <xs:element type="xs:integer" name="workflow_id"  />
        <xs:element type="xs:string" name="component_id"  />
        <xs:element type="xs:string" name="component_id_human"  />
        <xs:element type="xs:string" name="component_name"  />
        <xs:element type="xs:string" name="component_type"  />
        <xs:element type="xs:double" name="left"  />
        <xs:element type="xs:double" name="top"  />
        <xs:element name="connections" minOccurs="0" maxOccurs="1"  type="ConnectionType" />

        <xs:element name="inputs" type="InputType" minOccurs="0" />
        <xs:element name="inputLabels" type="InputLabel" minOccurs="0" />
        <xs:element name="options" type="OptionsType"/>
        <xs:element name="outputs" type="OutputType" minOccurs="0" />


      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>