ModelExport/schemas/ModelExport_v1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:ls="http://learnsphere.org/ls" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd"/>
  <xs:complexType name="InputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element name="files" type="InFileList0"/>
          <xs:any maxOccurs="unbounded" minOccurs="1" processContents="skip"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InFileList0">
    <xs:choice>
      <xs:element minOccurs="0" ref="file"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="InputType">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="input0" type="InputDefinition0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InputLabel">
    <xs:all>
      <xs:element default="ranked-models" minOccurs="0" name="input0" type="xs:string"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="OutputType">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="OptionsType">
    <xs:choice maxOccurs="unbounded" minOccurs="0"/>
  </xs:complexType>
  <xs:element name="component">
    <xs:complexType>
      <xs:all>
        <xs:element name="workflow_id" type="xs:integer"/>
        <xs:element name="component_id" type="xs:string"/>
        <xs:element name="component_id_human" type="xs:string"/>
        <xs:element name="component_name" type="xs:string"/>
        <xs:element name="component_type" type="xs:string"/>
        <xs:element name="left" type="xs:double"/>
        <xs:element name="top" type="xs:double"/>
        <xs:element maxOccurs="1" minOccurs="0" name="connections" type="ConnectionType"/>
        <xs:element minOccurs="0" name="inputs" type="InputType"/>
        <xs:element minOccurs="0" name="inputLabels" type="InputLabel"/>
        <xs:element minOccurs="0" name="outputs" type="OutputType"/>
        <xs:element minOccurs="0" name="options" type="OptionsType"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
