nlpNGrams/schemas/nlpNGrams_v1_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ls="http://learnsphere.org/ls" >

  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd" />

  <xs:complexType name="InputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList0" name="files" />
              <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="InFileList0">
    <xs:choice>
      <xs:element ref="file"  minOccurs="0" />
    </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="InputType">
    <xs:all>
      <xs:element name="input0" type="InputDefinition0" minOccurs="1" />
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="InputLabel">
    <xs:all>
      <xs:element name="input0" type="xs:string" default="file" minOccurs="1" />
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList0" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="tab-delimited" />
    </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="OutputDefinition1">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList1" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="OutFileList1">
    <xs:choice>
      <xs:element ref="pdf" />
    </xs:choice>
  </xs:complexType>


  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0" />
      <xs:element name="output1" type="OutputDefinition1" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="textCorpusType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Column in a file" />
      <xs:enumeration value="File" />
      <xs:enumeration value="URL" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ngramsType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="yesOrNoType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Yes" />
      <xs:enumeration value="No" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="plotType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Bar chart" />
      <xs:enumeration value="Donut chart" />
      <xs:enumeration value="Treemap" />
      <xs:enumeration value="Circle packing" />  
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="OptionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
    	<xs:element type="textCorpusType" name="text_corpus" id="Text_Corpus" default="Column in a file" />
      	<xs:element id="Text_Column" name="text_column" type="FileInputHeader" default=".*" ls:inputNodeIndex="0" ls:inputFileIndex="0"/>
    	
    	<xs:element type="ngramsType" name="n_grams" id="N_Grams" default="1" />
    	<xs:element type="yesOrNoType" name="exclude_stopwords" id="Exclude_Stop_Words" default="Yes" />
      	<xs:element type="plotType" name="plot_type" id="Plot_Type" default="Bar chart" />
      	<xs:element id="Plot_Top_Term" name="plot_top_term" type="xs:integer" default="20" />
      	
    </xs:choice> 
  </xs:complexType>
  
  <xs:complexType name="option_dependency">
	<xs:choice>
	<xs:element type="disjunctive" name="dependency1" ls:dependentOption="text_column" ls:dependsOn="text_corpus" ls:constraint="matches(Column in a file)" />
	<xs:element type="disjunctive" name="dependency2" ls:dependentOption="url" ls:dependsOn="text_corpus" ls:constraint="matches(URL)" />
	</xs:choice>
</xs:complexType>
 	
 

  <xs:element name="component">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:integer" name="workflow_id" />
        <xs:element type="xs:string" name="component_id" />
        <xs:element type="xs:string" name="component_id_human" />
        <xs:element type="xs:string" name="component_name" />
        <xs:element type="xs:string" name="component_type" />
        <xs:element type="xs:double" name="left" />
        <xs:element type="xs:double" name="top" />
        <xs:element name="connections" minOccurs="0" maxOccurs="1"  type="ConnectionType" />
        <xs:element name="inputs" type="InputType" minOccurs="0" />
        <xs:element name="inputLabels" type="InputLabel" minOccurs="0" />
        <xs:element name="options" type="OptionsType" minOccurs="0" />
        <xs:element name="outputs" type="OutputType" minOccurs="0" />


      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>
