AnalysisIAfm/schemas/AnalysisIAfm_v1_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd" />

  <xs:complexType name="InputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList0" name="files" />
              <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InputType">
    <xs:all>
      <xs:element name="input0" type="InputDefinition0" minOccurs="1" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="InputLabel">
    <xs:all>
      <xs:element name="input0" type="xs:string" default="student-step" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="InFileList0">
    <xs:choice>
      <xs:element ref="file"  minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList0" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="student-step" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="OutputDefinition1">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList1" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList1">
    <xs:choice>
      <xs:element ref="model-values" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="OutputDefinition2">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList2" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList2">
    <xs:choice>
      <xs:element ref="parameters" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0" />
      <xs:element name="output1" type="OutputDefinition1" />
      <xs:element name="output2" type="OutputDefinition2" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="yesNoType" final="restriction">
    <xs:restriction base="xs:string">
    <xs:enumeration value="No" />
    <xs:enumeration value="Yes" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="paramOutputType" final="restriction">
    <xs:restriction base="xs:string">
    <xs:enumeration value="XML" />
    <xs:enumeration value="Tab-delimited" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="OptionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element type="FileInputHeader" name="model" id="Model" default="\s*KC\s*\((.*)\)\s*" />
      <xs:element type="FileInputHeader" name="firstAttempt" id="First_Attempt" default="First Attempt" />
      <xs:element type="FileInputHeader" name="opportunity" id="Opportunity" default="\s*Opportunity\s*\((.*)\)\s*" />
      <xs:element type="FileInputHeader" name="student" id="Student" default="Anon Student Id" />
      <xs:element type="yesNoType" name="useReverseOpp" id="Use_Reverse_Opportunity" default="No" />
      <xs:element type="paramOutputType" name="paramOutputFile" id="Parameters_Output_Format" default="XML" />
    </xs:choice>
  </xs:complexType>

  <xs:element name="component">
    <xs:complexType>
      <xs:all >
        <xs:element type="xs:integer" name="workflow_id"  />
        <xs:element type="xs:string" name="component_id"  />
        <xs:element type="xs:string" name="component_id_human"  />
        <xs:element type="xs:string" name="component_name"  />
        <xs:element type="xs:string" name="component_type"  />
        <xs:element type="xs:double" name="left"  />
        <xs:element type="xs:double" name="top"  />
        <xs:element name="connections" minOccurs="0" maxOccurs="1"  type="ConnectionType" />

        <xs:element name="inputs" type="InputType" minOccurs="0" />
        <xs:element name="inputLabels" type="InputLabel" minOccurs="0" />
        <xs:element name="outputs" type="OutputType" minOccurs="0" />
        <xs:element name="options" type="OptionsType" minOccurs="0" />

      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>