VisualizationLearningCurves/schemas/VisualizationLearningCurves_v1_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd" />

  <xs:complexType name="InputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList0" name="files" />
              <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InputType">
    <xs:sequence>
      <xs:element name="input0" type="InputDefinition0" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InputLabel">
    <xs:all>
      <xs:element name="input0" type="xs:string" default="tab-delimited" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="InFileList0">
    <xs:choice>
      <xs:element ref="file" minOccurs="0" />
    </xs:choice>
  </xs:complexType>


  <xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList0" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="file" />
    </xs:choice>
  </xs:complexType>

  <xs:simpleType name="learningCurveType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Knowledge Components" />
      <xs:enumeration value="Students" />
      <xs:enumeration value="All Student KCs" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="errorBarType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="No Error Bars" />
      <xs:enumeration value="Standard Deviation" />
      <xs:enumeration value="Standard Error" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="learningCurveMetricType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Error Rate" />
      <xs:enumeration value="Assistance Score" />
      <xs:enumeration value="Number of Incorrects" />
      <xs:enumeration value="Number of Hints" />
      <xs:enumeration value="Step Duration" />
      <xs:enumeration value="Correct Step Duration" />
      <xs:enumeration value="Error Step Duration" />
    </xs:restriction>
  </xs:simpleType>




  <xs:complexType name="OptionsType">
    <xs:all>
      <xs:element type="FileInputHeader" name="model" id="Model"  default="Predicted Error Rate\s*(.*)\s*" />
      <xs:element type="learningCurveType" name="learningCurve" id="Learning_Curve_Type"
        default="Knowledge Components" />
      <xs:element type="xs:double" name="stdDevCutOff" id="Standard_Deviation_Cutoff"
        default="0" />
      <xs:element type="xs:double" name="opportunityCutOffMax" id="Max_Opportunities"
        default="INF" />
      <xs:element type="errorBarType" name="errorBar" id="Error_Bar_Type"
        default="No Error Bars" />
      <xs:element type="learningCurveMetricType" name="learningCurveMetric" id="Learning_Curve_Metric"
        default="Error Rate" />
      <xs:element type="FileInputHeader" name="highStakesCF" id="High_Stakes_CF_Name"  default="\s*CF\s*(.*)\s*" />
    </xs:all>
  </xs:complexType>

  <xs:element name="component">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:integer" name="workflow_id" />
        <xs:element type="xs:string" name="component_id" />
        <xs:element type="xs:string" name="component_id_human" />
        <xs:element type="xs:string" name="component_name" />
        <xs:element type="xs:string" name="component_type" />
        <xs:element type="xs:double" name="left"  />
        <xs:element type="xs:double" name="top"  />
        <xs:element name="connections" minOccurs="0" maxOccurs="1"  type="ConnectionType" />

        <xs:element name="inputs" type="InputType" minOccurs="0" />
        <xs:element name="outputs" type="OutputType" minOccurs="0" />
        <xs:element name="options" type="OptionsType" minOccurs="0" />

      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>