AnalysisDescriptive/schemas/AnalysisDescriptive_v1_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd" />

  <xs:complexType name="InputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList0" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InputType">
    <xs:all>
      <xs:element name="input0" type="InputDefinition0" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="InputLabel">
    <xs:all>
      <xs:element name="input0" type="xs:string" default="transaction" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="InFileList0">
    <xs:choice>
      <xs:element ref="file" minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList0" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="html" />
    </xs:choice>
  </xs:complexType>



<xs:complexType name="OutputDefinition1">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList1" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList1">
    <xs:choice>
      <xs:element ref="html" />
    </xs:choice>
  </xs:complexType>


<xs:complexType name="OutputDefinition2">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList2" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList2">
    <xs:choice>
      <xs:element ref="image" />
    </xs:choice>
  </xs:complexType>

<xs:complexType name="OutputDefinition3">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList3" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList3">
    <xs:choice>
      <xs:element ref="html" />
    </xs:choice>
  </xs:complexType>


<xs:complexType name="OutputDefinition4">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList4" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList4">
    <xs:choice>
      <xs:element ref="image" />
    </xs:choice>
  </xs:complexType>


<xs:complexType name="OutputDefinition5">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList5" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList5">
    <xs:choice>
      <xs:element ref="image" />
    </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="OutputDefinition6">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList1" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList6">
    <xs:choice>
      <xs:element ref="html" />
    </xs:choice>
  </xs:complexType>
  
    
  <xs:complexType name="OutputDefinition7">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList1" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList7">
    <xs:choice>
      <xs:element ref="html" />
    </xs:choice>
  </xs:complexType>
  
  


  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0" />
      <xs:element name="output1" type="OutputDefinition1" />
      <xs:element name="output2" type="OutputDefinition2" />
      <xs:element name="output3" type="OutputDefinition2" />
      <xs:element name="output4" type="OutputDefinition2" />
      <xs:element name="output5" type="OutputDefinition2" />
      <xs:element name="output6" type="OutputDefinition6" />
      <xs:element name="output7" type="OutputDefinition7" />
      
    </xs:sequence>
  </xs:complexType>

<xs:simpleType name="latencyType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Correctness" />
      <xs:enumeration value="Correct Latency" />
      <xs:enumeration value="Incorrect Latency" />
    </xs:restriction>
</xs:simpleType>

  
  <xs:complexType name="OptionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element type="latencyType" name="dependent" id="Dependent" default="Correctness" />
      <xs:element type="FileInputHeader" name="superordinateGroupingCategory" id="Superordinate_Grouping_Category" default=".*" />
      <xs:element type="FileInputHeader" name="subordinateGroupingCategory" id="Subordinate_Grouping_Category" default=".*" />
      <xs:element type="FileInputHeader" name="unitCategory" id="Unit_Category" default=".*" />
      <xs:element type="FileInputHeader" name="latency" id="Latency" default=".*" />
    </xs:choice>
  </xs:complexType>

  <xs:element name="component">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:integer" name="workflow_id" />
        <xs:element type="xs:string" name="component_id" />
        <xs:element type="xs:string" name="component_id_human" />
        <xs:element type="xs:string" name="component_name" />
        <xs:element type="xs:string" name="component_type" />
        <xs:element type="xs:double" name="left" />
        <xs:element type="xs:double" name="top" />
        <xs:element name="connections" minOccurs="0" maxOccurs="1" type="ConnectionType" />

        <xs:element name="inputs" type="InputType" minOccurs="0" />
        <xs:element name="inputLabels" type="InputLabel" minOccurs="0" />
        <xs:element name="outputs" type="OutputType" minOccurs="0" />
        <xs:element name="options" type="OptionsType" minOccurs="0" />

      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>