GenerateRandomMatrix/schemas/GenerateRandomMatrix_v1_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd" />


  <xs:complexType name="InputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList0" name="files" />
              <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InFileList0">
    <xs:choice>
      <xs:element ref="file"  minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="InputType">
    <xs:all>
      <xs:element name="input0" type="InputDefinition0" minOccurs="0" />
    </xs:all>
  </xs:complexType>


  <xs:complexType name="InputLabel">
    <xs:all>
      <xs:element name="input0" type="xs:string" default="tab-delimited" minOccurs="0" />
    </xs:all>
  </xs:complexType>


  <xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList0" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="tab-delimited" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="OptionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <!-- Number of rows and cols for the random matrix -->
      <xs:element type="xs:integer" name="rows" id="Rows" default="10"/>
      <xs:element type="xs:integer" name="columns" id="Columns" default="10"/>
      <xs:element type="xs:integer" name="randomSeed" id="Random_Seed" default="1234"/>
    </xs:choice>
  </xs:complexType>

  <xs:element name="component">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:integer" name="workflow_id" />
        <xs:element type="xs:string" name="component_id" />
        <xs:element type="xs:string" name="component_id_human" />
        <xs:element type="xs:string" name="component_name" />
        <xs:element type="xs:string" name="component_type" />
        <xs:element type="xs:double" name="left"  />
        <xs:element type="xs:double" name="top"  />
        <xs:element name="connections" minOccurs="0" maxOccurs="1"  type="ConnectionType" />

        <xs:element name="inputs" type="InputType" minOccurs="0" />
        <xs:element name="options" type="OptionsType" minOccurs="0" />
        <xs:element name="outputs" type="OutputType" minOccurs="0" />

      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>