TetradSimulate/schemas/TetradSimulate_v1_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ls="http://learnsphere.org/ls" >

  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd" />

  <xs:complexType name="InputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList0" name="files" />
              <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- <xs:complexType name="InputDefinition1">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList1" name="files" />
             <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType> -->

  <xs:complexType name="InputType">
    <xs:sequence>
      <xs:element name="input0" type="InputDefinition0" minOccurs="1" />
      <!-- <xs:element name="input1" type="InputDefinition1" minOccurs="0" /> -->
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InputLabel">
    <xs:all>
      <xs:element name="input0" type="xs:string" default="tetrad-graph" minOccurs="0" />
      <!-- <xs:element name="input1" type="xs:string" default="tetrad-knowledge" minOccurs="0" /> -->
    </xs:all>
  </xs:complexType>

  <xs:complexType name="InFileList0">
    <xs:choice>
      <xs:element ref="file" minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <!-- <xs:complexType name="InFileList1">
    <xs:choice>
      <xs:element ref="file" minOccurs="0" />
    </xs:choice>
  </xs:complexType> -->


  <xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList0" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="tab-delimited" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="OutputDefinition1">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList1" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="OutFileList1">
    <xs:choice>
      <xs:element ref="tab-delimited" />
    </xs:choice>
  </xs:complexType>


  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0" />
      <xs:element name="output1" type="OutputDefinition1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="option_dependency">
    <xs:choice>
      <xs:element type="conjunctive" name="bayesCategoryDependency1" ls:dependentOption="leastNumCategories" ls:dependsOn="model" ls:constraint="matches(Bayes)" />
      <xs:element type="conjunctive" name="bayesCategoryDependency2" ls:dependentOption="greatestNumCategories" ls:dependsOn="model" ls:constraint="matches(Bayes)" />


      <xs:element type="conjunctive" name="semDependency1" ls:dependentOption="coefLow" ls:dependsOn="model" ls:constraint="matches(SEM)" />
      <xs:element type="conjunctive" name="semDependency2" ls:dependentOption="coefHigh" ls:dependsOn="model" ls:constraint="matches(SEM)" />
      <xs:element type="conjunctive" name="semDependency3" ls:dependentOption="coefSymmetric" ls:dependsOn="model" ls:constraint="matches(SEM)" />

      <xs:element type="conjunctive" name="semDependency4" ls:dependentOption="errCovLow" ls:dependsOn="model" ls:constraint="matches(SEM)" />
      <xs:element type="conjunctive" name="semDependency5" ls:dependentOption="errCovHigh" ls:dependsOn="model" ls:constraint="matches(SEM)" />
      <xs:element type="conjunctive" name="semDependency6" ls:dependentOption="errCovSymmetric" ls:dependsOn="model" ls:constraint="matches(SEM)" />

      <xs:element type="conjunctive" name="semDependency7" ls:dependentOption="errStdDevLow" ls:dependsOn="model" ls:constraint="matches(SEM)" />
      <xs:element type="conjunctive" name="semDependency8" ls:dependentOption="errStdDevHigh" ls:dependsOn="model" ls:constraint="matches(SEM)" />
    </xs:choice>
  </xs:complexType>



  <xs:simpleType name="modelType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Bayes" />
      <xs:enumeration value="SEM" />
	  <xs:enumeration value="Standardized_SEM" />
    </xs:restriction>
  </xs:simpleType>



  <xs:complexType name="OptionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element type="modelType" name="model" id="Model" default="Standardized_SEM" />

      <xs:element type="xs:integer" name="leastNumCategories" id="Least_number_of_categories_for_each_variable" default="2" />
      <xs:element type="xs:integer" name="greatestNumCategories" id="Greatest_number_of_categories_for_each_variable" default="2" />

      <xs:element type="xs:double" name="coefLow" id="Coefficient_values_are_drawn_from"  default="0.5" />
      <xs:element type="xs:double" name="coefHigh" id="to___"  default="1.5" />
      <xs:element type="xs:boolean" name="coefSymmetric" id="Symmetric_about_zero"  default="true" />

      <xs:element type="xs:double" name="errCovLow" id="Error_covariance_values_are_drawn_from"  default="0.1" />
      <xs:element type="xs:double" name="errCovHigh" id="to__"  default="0.2" />
      <xs:element type="xs:boolean" name="errCovSymmetric" id="Symmetric_about_zero_"  default="true" />

      <xs:element type="xs:double" name="errStdDevLow" id="Error_standard_deviation_values_are_drawn_from"  default="1.0" />
      <xs:element type="xs:double" name="errStdDevHigh" id="to_"  default="3.0" />


      <xs:element type="xs:integer" name="sampleSize" id="Sample_size" default="1000" />

    </xs:choice>
  </xs:complexType>

  <xs:element name="component">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:integer" name="workflow_id" />
        <xs:element type="xs:string" name="component_id" />
        <xs:element type="xs:string" name="component_id_human" />
        <xs:element type="xs:string" name="component_name" />
        <xs:element type="xs:string" name="component_type" />
        <xs:element type="xs:double" name="left"  />
        <xs:element type="xs:double" name="top"  />
        <xs:element name="connections" minOccurs="0" maxOccurs="1"  type="ConnectionType" />

        <xs:element name="inputs" type="InputType" minOccurs="0" />
        <xs:element name="outputs" type="OutputType" minOccurs="0" />
        <xs:element name="options" type="OptionsType" minOccurs="0" />

      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>