nlpTfIdf/schemas/nlpTfIdf_v1_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ls="http://learnsphere.org/ls" >

  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd" />

  <xs:complexType name="InputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList0" name="files" />
              <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="InFileList0">
    <xs:choice>
      <xs:element ref="file"  minOccurs="0" />
    </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="InputType">
    <xs:all>
      <xs:element name="input0" type="InputDefinition0" minOccurs="1" />
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="InputLabel">
    <xs:all>
      <xs:element name="input0" type="xs:string" default="file" minOccurs="1" />
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList0" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="tab-delimited" />
    </xs:choice>
  </xs:complexType>


  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="textCorpusType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Columns in a file" />
      <xs:enumeration value="Files" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="searchTermType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Word" />
      <xs:enumeration value="Phrase" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="yesOrNoType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Yes" />
      <xs:enumeration value="No" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="OptionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
    	<xs:element type="textCorpusType" name="text_corpus" id="Text_Corpus" default="Columns in a file" />
      	<xs:element id="Text_Column" name="text_column" type="MultiFileInputHeader" default=".*" ls:inputNodeIndex="0" ls:inputFileIndex="0"/>
    	
    	<xs:element type="searchTermType" name="term_type" id="Term_Type" default="Word" />
    	<xs:element type="yesOrNoType" name="exclude_stopwords" id="Exclude_Stop_Words" default="Yes" />
      	<xs:element id="Term" name="term" type="xs:string" default="" />
      	
    </xs:choice> 
  </xs:complexType>
 	
<xs:complexType name="option_dependency">
	<xs:choice>
	<xs:element type="disjunctive" name="dependency1" ls:dependentOption="text_column" ls:dependsOn="text_corpus" ls:constraint="matches(Columns in a file)" />
	<xs:element type="disjunctive" name="dependency2" ls:dependentOption="exclude_stopwords" ls:dependsOn="term_type" ls:constraint="matches(Phrase)" />	
	</xs:choice>
</xs:complexType>

  

  <xs:element name="component">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:integer" name="workflow_id" />
        <xs:element type="xs:string" name="component_id" />
        <xs:element type="xs:string" name="component_id_human" />
        <xs:element type="xs:string" name="component_name" />
        <xs:element type="xs:string" name="component_type" />
        <xs:element type="xs:double" name="left" />
        <xs:element type="xs:double" name="top" />
        <xs:element name="connections" minOccurs="0" maxOccurs="1"  type="ConnectionType" />
        <xs:element name="inputs" type="InputType" minOccurs="0" />
        <xs:element name="inputLabels" type="InputLabel" minOccurs="0" />
        <xs:element name="options" type="OptionsType" minOccurs="0" />
        <xs:element name="outputs" type="OutputType" minOccurs="0" />


      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>
