CurriculumPacing/schemas/CurriculumPacing_v1_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:ls="http://learnsphere.org/ls" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd"/>
  <xs:complexType name="InputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element name="files" type="InFileList0"/>
          <xs:any maxOccurs="unbounded" minOccurs="1" processContents="skip"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InFileList0">
    <xs:choice>
      <xs:element minOccurs="0" ref="file"/>
    </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="InputDefinition1">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList1" name="files" />
              <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InFileList1">
    <xs:choice>
      <xs:element ref="file"  minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="InputType">
    <xs:sequence>
      <xs:element name="input0" type="InputDefinition0" minOccurs="1" maxOccurs="unbounded" />
      <xs:element name="input1" type="InputDefinition1" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InputLabel">
    <xs:all>
      <xs:element default="student-problem" minOccurs="0" name="input0" type="xs:string"/>
      <xs:element name="input1" type="xs:string" default="hierarchy-order" minOccurs="0" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element name="files" type="OutFileList0"/>
          <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="image"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType final="restriction" name="plotType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Usage"/>
      <xs:enumeration value="Usage and performance"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType final="restriction" name="timeScaleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Relative"/>
      <xs:enumeration value="Absolute"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType final="restriction" name="timeScaleResType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Day"/>
      <xs:enumeration value="Week"/>
      <xs:enumeration value="Month"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="option_dependency">
	<xs:choice>
	<xs:element type="disjunctive" name="dependency1" ls:dependentOption="RelMinTimeUnit" ls:dependsOn="TimeScale" ls:constraint="matches(Relative)" />
	<xs:element type="disjunctive" name="dependency2" ls:dependentOption="RelMaxTimeUnit" ls:dependsOn="TimeScale" ls:constraint="matches(Relative)" />
	<xs:element type="disjunctive" name="dependency3" ls:dependentOption="TimeScaleRes" ls:dependsOn="TimeScale" ls:constraint="matches(Relative)" />
	<xs:element type="disjunctive" name="dependency4" ls:dependentOption="AbsMinTimeUnit" ls:dependsOn="TimeScale" ls:constraint="matches(Absolute)" />
	<xs:element type="disjunctive" name="dependency5" ls:dependentOption="AbsMaxTimeUnit" ls:dependsOn="TimeScale" ls:constraint="matches(Absolute)" />
	
	</xs:choice>
</xs:complexType>
  
  <xs:complexType name="OptionsType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element default="Usage" id="Plot_Type" name="Plot" type="plotType"/>
      <xs:element default="Relative" id="Time_Scale_Type" name="TimeScale" type="timeScaleType"/>
      <xs:element default="Week" id="Time_Scale_Resolution" name="TimeScaleRes" type="timeScaleResType"/>
      <xs:element default="1" id="Relative_Minimum_Time_Unit" name="RelMinTimeUnit" type="xs:integer"/>
      <xs:element default="52" id="Relative_Maximum_Time_Unit" name="RelMaxTimeUnit" type="xs:integer"/>
      <xs:element default="1900-01-01 00:00:00" id="Absolute_Minimum_Time_Unit" name="AbsMinTimeUnit" type="xs:string"/>
      <xs:element default="3000-01-01 00:00:00" id="Absolute_Maximum_Time_Unit" name="AbsMaxTimeUnit" type="xs:string"/>
          </xs:choice>
  </xs:complexType>
  
 
  <xs:element name="component">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:integer" name="workflow_id" />
        <xs:element type="xs:string" name="component_id" />
        <xs:element type="xs:string" name="component_id_human" />
        <xs:element type="xs:string" name="component_name" />
        <xs:element type="xs:string" name="component_type" />
        <xs:element type="xs:double" name="left"  />
        <xs:element type="xs:double" name="top"  />
        <xs:element name="connections" minOccurs="0" maxOccurs="1"  type="ConnectionType" />

        <xs:element name="inputs" type="InputType" minOccurs="0" />
        <xs:element name="outputs" type="OutputType" minOccurs="0" />
        <xs:element name="options" type="OptionsType" minOccurs="0" />

      </xs:all>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
