AnalysisFastAfmAndCv/schemas/FastAfmAndCv_v1_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ls="http://learnsphere.org/ls" >

  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd" />
  

  <xs:complexType name="InputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList0" name="files" />
              <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InFileList0">
    <xs:choice>
      <xs:element ref="file"  minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="InputType">
    <xs:all>
      <xs:element name="input0" type="InputDefinition0" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="InputLabel">
    <xs:all>
      <xs:element name="input0" type="xs:string" default="student-step" minOccurs="0" />
    </xs:all>
  </xs:complexType>

<xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList0" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="analysis-summary" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="OutputDefinition1">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList1" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="OutFileList1">
    <xs:choice>
      <xs:element ref="student-step" />
    </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="OutputDefinition2">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList2" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="OutFileList2">
    <xs:choice>
      <xs:element ref="model-values" />
    </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="OutputDefinition3">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList3" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="OutFileList3">
    <xs:choice>
      <xs:element ref="parameters" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0" />
      <xs:element name="output1" type="OutputDefinition1" />
      <xs:element name="output2" type="OutputDefinition2" />
      <xs:element name="output3" type="OutputDefinition3" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="cvType" final="restriction">
    <xs:restriction base="xs:string">
    <xs:enumeration value="both student and item blocked" />
    <xs:enumeration value="item blocked" />
      <xs:enumeration value="student blocked" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="trueFalseType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="No" />
      <xs:enumeration value="Yes" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="option_dependency">
	<xs:choice>
	<xs:element type="disjunctive" name="dependency1" ls:dependentOption="tpCV" ls:dependsOn="includeCv" ls:constraint="matches(Yes)" />
	<xs:element type="disjunctive" name="dependency2" ls:dependentOption="numFold" ls:dependsOn="includeCv" ls:constraint="matches(Yes)" />
	</xs:choice>
</xs:complexType>


  <xs:complexType name="OptionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
    	<xs:element type="FileInputHeader" name="kcModel" id="KC_Model" default="\s*KC\s*\((.*)\)\s*" ls:inputNodeIndex="0" ls:inputFileIndex="0"  />
    	<xs:element type="trueFalseType" name="includeCv" id="Compute_Cross_Validation" default="No" />
      	<xs:element type="cvType" name="tpCV" id="Cross_Validation_By" default="both student and item blocked" />
      	<xs:element type="xs:integer" name="numFold" id="Cross_Validation_Fold" default="3" />
    </xs:choice>
  </xs:complexType>


  <xs:element name="component">
    <xs:complexType>
      <xs:all >
        <xs:element type="xs:integer" name="workflow_id"  />
        <xs:element type="xs:string" name="component_id"  />
        <xs:element type="xs:string" name="component_id_human"  />
        <xs:element type="xs:string" name="component_name"  />
        <xs:element type="xs:string" name="component_type"  />
        <xs:element type="xs:double" name="left"  />
        <xs:element type="xs:double" name="top"  />
        <xs:element name="connections" minOccurs="0" maxOccurs="1"  type="ConnectionType" />

        <xs:element name="inputs" type="InputType" minOccurs="0" />
        <xs:element name="inputLabels" type="InputLabel" minOccurs="0" />
        <xs:element name="outputs" type="OutputType" minOccurs="0" />
        <xs:element name="options" type="OptionsType" minOccurs="0" />


      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>