TransformJoin/schemas/TransformJoin_v1_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ls="http://learnsphere.org/ls" >
 
  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd" />

  <xs:complexType name="InputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList0" name="files" />
              <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InputDefinition1">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList1" name="files" />
             <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InFileList0">
    <xs:choice>
      <xs:element ref="file"  minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="InFileList1">
    <xs:choice>
      <xs:element ref="file" minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="InputType">
    <xs:all>
      <xs:element name="input0" type="InputDefinition0" minOccurs="1" />
      <xs:element name="input1" type="InputDefinition1" minOccurs="1" />
    </xs:all>
  </xs:complexType>


  <xs:complexType name="InputLabel">
    <xs:all>
      <xs:element name="input0" type="xs:string" default="text" minOccurs="0" />
      <xs:element name="input1" type="xs:string" default="text" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList0" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="tab-delimited" />
    </xs:choice>
  </xs:complexType>
  
  <xs:simpleType name="joinType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="concatenate" />
      <xs:enumeration value="merge" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="concatenateType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="vertical" />
      <xs:enumeration value="horizontal" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="mergeType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="inner" />
      <xs:enumeration value="left" />
      <xs:enumeration value="right" />
      <xs:enumeration value="outer" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="delimiterType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="\t" />
      <xs:enumeration value="." />
      <xs:enumeration value="|" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="option_dependency">
	<xs:choice>
	<xs:element type="disjunctive" name="dependency1" ls:dependentOption="howToConcatenate" ls:dependsOn="howToJoin" ls:constraint="matches(concatenate)" />
	<xs:element type="disjunctive" name="dependency2" ls:dependentOption="howToMerge" ls:dependsOn="howToJoin" ls:constraint="matches(merge)" />
	<xs:element type="disjunctive" name="dependency3" ls:dependentOption="numColumnsToMerge" ls:dependsOn="howToJoin" ls:constraint="matches(merge)" />
	
	<xs:element type="conjunctive" name="dependency4" ls:dependentOption="file1MatchColumns1" ls:dependsOn="numColumnsToMerge" ls:constraint="gte(1)" />
	<xs:element type="conjunctive" name="dependency5" ls:dependentOption="file1MatchColumns1" ls:dependsOn="howToJoin" ls:constraint="matches(merge)" />
	<xs:element type="conjunctive" name="dependency6" ls:dependentOption="file2MatchColumns1" ls:dependsOn="numColumnsToMerge" ls:constraint="gte(1)" />
	<xs:element type="conjunctive" name="dependency7" ls:dependentOption="file2MatchColumns1" ls:dependsOn="howToJoin" ls:constraint="matches(merge)" />
	
	<xs:element type="conjunctive" name="dependency8" ls:dependentOption="file1MatchColumns2" ls:dependsOn="numColumnsToMerge" ls:constraint="gte(2)" />
	<xs:element type="conjunctive" name="dependency9" ls:dependentOption="file1MatchColumns2" ls:dependsOn="howToJoin" ls:constraint="matches(merge)" />
	<xs:element type="conjunctive" name="dependency10" ls:dependentOption="file2MatchColumns2" ls:dependsOn="numColumnsToMerge" ls:constraint="gte(2)" />
	<xs:element type="conjunctive" name="dependency11" ls:dependentOption="file2MatchColumns2" ls:dependsOn="howToJoin" ls:constraint="matches(merge)" />
	
	<xs:element type="conjunctive" name="dependency12" ls:dependentOption="file1MatchColumns3" ls:dependsOn="numColumnsToMerge" ls:constraint="gte(3)" />
	<xs:element type="conjunctive" name="dependency13" ls:dependentOption="file1MatchColumns3" ls:dependsOn="howToJoin" ls:constraint="matches(merge)" />
	<xs:element type="conjunctive" name="dependency14" ls:dependentOption="file2MatchColumns3" ls:dependsOn="numColumnsToMerge" ls:constraint="gte(3)" />
	<xs:element type="conjunctive" name="dependency15" ls:dependentOption="file2MatchColumns3" ls:dependsOn="howToJoin" ls:constraint="matches(merge)" />
	
	<xs:element type="conjunctive" name="dependency16" ls:dependentOption="file1MatchColumns4" ls:dependsOn="numColumnsToMerge" ls:constraint="gte(4)" />
	<xs:element type="conjunctive" name="dependency17" ls:dependentOption="file1MatchColumns4" ls:dependsOn="howToJoin" ls:constraint="matches(merge)" />
	<xs:element type="conjunctive" name="dependency18" ls:dependentOption="file2MatchColumns4" ls:dependsOn="numColumnsToMerge" ls:constraint="gte(4)" />
	<xs:element type="conjunctive" name="dependency19" ls:dependentOption="file2MatchColumns4" ls:dependsOn="howToJoin" ls:constraint="matches(merge)" />
	
	<xs:element type="conjunctive" name="dependency20" ls:dependentOption="file1MatchColumns5" ls:dependsOn="numColumnsToMerge" ls:constraint="gte(5)" />
	<xs:element type="conjunctive" name="dependency21" ls:dependentOption="file1MatchColumns5" ls:dependsOn="howToJoin" ls:constraint="matches(merge)" />
	<xs:element type="conjunctive" name="dependency22" ls:dependentOption="file2MatchColumns5" ls:dependsOn="numColumnsToMerge" ls:constraint="gte(5)" />
	<xs:element type="conjunctive" name="dependency23" ls:dependentOption="file2MatchColumns5" ls:dependsOn="howToJoin" ls:constraint="matches(merge)" />
	
	</xs:choice>
</xs:complexType>





  <xs:complexType name="OptionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
    <xs:element type="delimiterType" name="file1Delimiter" id="File_1_Column_Delimiter" default="\t" />
    <xs:element type="delimiterType" name="file2Delimiter" id="File_2_Column_Delimiter" default="\t" />
      <xs:element type="joinType" name="howToJoin" id="Join_Type" default="merge" />
      <xs:element type="concatenateType" name="howToConcatenate" id="How_to_Concatenate" default="vertical" />
      <xs:element type="mergeType" name="howToMerge" id="How_to_Merge" default="inner" />
      <xs:element type="xs:integer" name="numColumnsToMerge" id="Number_of_Merging_Conditions" default="1" />
        <xs:element type="FileInputHeader" name="file1MatchColumns1" id="File_1_Column_To_Match_First" default=".*" ls:inputNodeIndex="0" ls:inputFileIndex="*"/>
        <xs:element type="FileInputHeader" name="file2MatchColumns1" id="File_2_Column_To_Match_First" default=".*" ls:inputNodeIndex="1" ls:inputFileIndex="*"/>
        <xs:element type="FileInputHeader" name="file1MatchColumns2" id="File_1_Column_To_Match_Second" default=".*" ls:inputNodeIndex="0" ls:inputFileIndex="*"/>
        <xs:element type="FileInputHeader" name="file2MatchColumns2" id="File_2_Column_To_Match_Second" default=".*" ls:inputNodeIndex="1" ls:inputFileIndex="*"/>
        <xs:element type="FileInputHeader" name="file1MatchColumns3" id="File_1_Column_To_Match_Third" default=".*" ls:inputNodeIndex="0" ls:inputFileIndex="*"/>
        <xs:element type="FileInputHeader" name="file2MatchColumns3" id="File_2_Column_To_Match_Third" default=".*" ls:inputNodeIndex="1" ls:inputFileIndex="*"/>
        <xs:element type="FileInputHeader" name="file1MatchColumns4" id="File_1_Column_To_Match_Forth" default=".*" ls:inputNodeIndex="0" ls:inputFileIndex="*"/>
        <xs:element type="FileInputHeader" name="file2MatchColumns4" id="File_2_Column_To_Match_Forth" default=".*" ls:inputNodeIndex="1" ls:inputFileIndex="*"/>
        <xs:element type="FileInputHeader" name="file1MatchColumns5" id="File_1_Column_To_Match_Fifth" default=".*" ls:inputNodeIndex="0" ls:inputFileIndex="*"/>
        <xs:element type="FileInputHeader" name="file2MatchColumns5" id="File_2_Column_To_Match_Fifth" default=".*" ls:inputNodeIndex="1" ls:inputFileIndex="*"/>
    </xs:choice>
  </xs:complexType>


  <xs:element name="component">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:integer" name="workflow_id" />
        <xs:element type="xs:string" name="component_id" />
        <xs:element type="xs:string" name="component_id_human" />
        <xs:element type="xs:string" name="component_name" />
        <xs:element type="xs:string" name="component_type" />
        <xs:element type="xs:double" name="left"  />
        <xs:element type="xs:double" name="top"  />
        <xs:element name="connections" minOccurs="0" maxOccurs="1"  type="ConnectionType" />

        <xs:element name="inputs" type="InputType" minOccurs="0" />
        <xs:element name="inputLabels" type="InputLabel" minOccurs="0" />
        <xs:element name="outputs" type="OutputType" minOccurs="0" />
        <xs:element name="options" type="OptionsType" minOccurs="0" />

      </xs:all>
    </xs:complexType>
  </xs:element>
  
  

</xs:schema>