QAAllElements/schemas/QAAllElements_v1_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:ls="http://learnsphere.org/ls" >

  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd" />

  <xs:complexType name="InputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList0" name="files" />
              <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="InFileList0">
    <xs:choice>
      <xs:element ref="file"  minOccurs="0" />
    </xs:choice>
  </xs:complexType>


  <xs:complexType name="InputDefinition1">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList1" name="files" />
              <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="InFileList1">
    <xs:choice>
      <xs:element ref="file"  minOccurs="0" />
    </xs:choice>
  </xs:complexType>

<xs:complexType name="InputLabel">
    <xs:all>
      <xs:element name="input0" type="xs:string" default="file" minOccurs="0" />
      <xs:element name="input1" type="xs:string" default="file" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="InputType">
    <xs:all>
      <xs:element name="input0" type="InputDefinition0" minOccurs="1" />
      <xs:element name="input1" type="InputDefinition1" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  

  <xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList0" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="text" />
    </xs:choice>
  </xs:complexType>


  

  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="optionsType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Long" />
      <xs:enumeration value="Short" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="longOptionsType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LongOption1" />
      <xs:enumeration value="LongOption2" />
      <xs:enumeration value="LongOption3" />
      <xs:enumeration value="LongOption4" />
      <xs:enumeration value="LongOption5" />
      <xs:enumeration value="LongOption6" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="shortOptionsType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ShortOption1" />
      <xs:enumeration value="ShortOption2" />
    </xs:restriction>
  </xs:simpleType>
  
  
  <xs:complexType name="option_dependency">
	<xs:choice>
	<xs:element type="disjunctive" name="dependency1" ls:dependentOption="longSelect" ls:dependsOn="selectionType" ls:constraint="matches(Long)" />
	<xs:element type="disjunctive" name="dependency2" ls:dependentOption="shortSelect" ls:dependsOn="selectionType" ls:constraint="matches(Short)" />
	</xs:choice>
</xs:complexType>
  

  <xs:complexType name="OptionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
    	<xs:element type="xs:string" name="stringType" id="String_Type" default="Default" />
          
          <xs:element type="optionsType" name="selectionType" id="Selection_List_type" default="Long" />
        <xs:element type="longOptionsType" name="longSelect" id="Long_Selection_List" default="LongOption1" />
        <xs:element type="shortOptionsType" name="shortSelect" id="Short_Selection_List" default="ShortOption1" />
        
          
          <xs:element type="FileInputHeader" name="singleFileSelect" id="Single_File_Selection_List" default=".*" ls:inputNodeIndex="0" ls:inputFileIndex="0" />
          <xs:element type="MultiFileInputHeader" name="optionalFileSelect" id="Optional_File_Selection_List" default=".*" ls:inputNodeIndex="*" ls:inputFileIndex="*" />
          
    </xs:choice>
  </xs:complexType>


  <xs:element name="component">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:integer" name="workflow_id" />
        <xs:element type="xs:string" name="component_id" />
        <xs:element type="xs:string" name="component_id_human" />
        <xs:element type="xs:string" name="component_name" />
        <xs:element type="xs:string" name="component_type" />
        <xs:element type="xs:double" name="left" />
        <xs:element type="xs:double" name="top" />
        <xs:element name="connections" minOccurs="0" maxOccurs="1"  type="ConnectionType" />

        <xs:element name="inputs" type="InputType" minOccurs="0" />
        <xs:element name="inputLabels" type="InputLabel" minOccurs="0" />
        <xs:element name="options" type="OptionsType" minOccurs="0" />
        <xs:element name="outputs" type="OutputType" minOccurs="0" />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>