AILessonScoring/schemas/AILessonScoring_v1_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ls="http://learnsphere.org/ls" >

  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd" />
  

  <xs:complexType name="InputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList0" name="files" />
              <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InFileList0">
    <xs:choice>
      <xs:element ref="file" minOccurs="0" />
    </xs:choice>
  </xs:complexType>

<!--  
  <xs:complexType name="InputDefinition1">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList1" name="files" />
              <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InFileList1">
    <xs:choice>
      <xs:element ref="file"  minOccurs="0" />
    </xs:choice>
  </xs:complexType>-->
  
  <xs:complexType name="InputType">
    <xs:sequence>
      <xs:element name="input0" type="InputDefinition0" minOccurs="0" />
      <!--  <xs:element name="input1" type="InputDefinition1" minOccurs="0" />-->
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InputLabel">
    <xs:all>
      <xs:element name="input0" type="xs:string" default="csv" minOccurs="1" />
      <!--  <xs:element name="input1" type="xs:string" default="config-file" minOccurs="0" />-->
    </xs:all>
  </xs:complexType>

<xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList0" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="text" />
    </xs:choice>
  </xs:complexType>

  

  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="preditExplainType" final="restriction">
    <xs:restriction base="xs:string">
    <xs:enumeration value="Predict" />
    <xs:enumeration value="Explain" />
    </xs:restriction>
  </xs:simpleType>
 
  <xs:simpleType name="lessonType" final="restriction">
    <xs:restriction base="xs:string">
    <xs:enumeration value="Helping Students Manage Inequity" />
    <xs:enumeration value="Determining What students Know" />
    <xs:enumeration value="Giving Effective Praise" />
    <xs:enumeration value="Reacting to Errors" />
    
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="trueFalseType" final="restriction">
    <xs:restriction base="xs:string">
    <xs:enumeration value="Yes" />
      <xs:enumeration value="No" />
    </xs:restriction>
  </xs:simpleType>


  <xs:complexType name="OptionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
    <xs:element type="FileInputHeader" name="scoringCol" id="Column_to_Score" default=".*" ls:inputNodeIndex="0" ls:inputFileIndex="*" />
    <xs:element type="lessonType" name="lesson" id="Lesson" default="Helping Students Manage Inequity" />
    <xs:element type="preditExplainType" name="predict_explain" id="Predict_or_Explain" default="Predict" />
    <!--  <xs:element type="trueFalseType" name="have_api_key" id="Have_API_KEY" default="Yes" />
    <xs:element type="trueFalseType" name="use_config" id="Use_Config_File" default="Yes" />-->
    <xs:element type="xs:string" name="openai_api_key" id="OPENAI_API_KEY" default="" ls:privateOption="true"/>
    
    </xs:choice>
  </xs:complexType>
   <!--   
  <xs:complexType name="option_dependency">
	<xs:choice>
	<xs:element type="disjunctive" name="dependency1" ls:dependentOption="use_config" ls:dependsOn="predict_explain" ls:constraint="matches(Predict)" />
	<xs:element type="conjunctive" name="dependency2" ls:dependentOption="openai_api_key" ls:dependsOn="have_api_key" ls:constraint="matches(Yes)" />
	<xs:element type="conjunctive" name="dependency3" ls:dependentOption="openai_api_key" ls:dependsOn="use_config" ls:constraint="matches(No)" />
	</xs:choice>
</xs:complexType> 
-->

  <xs:element name="component">
    <xs:complexType>
      <xs:all >
        <xs:element type="xs:integer" name="workflow_id"  />
        <xs:element type="xs:string" name="component_id"  />
        <xs:element type="xs:string" name="component_id_human"  />
        <xs:element type="xs:string" name="component_name"  />
        <xs:element type="xs:string" name="component_type"  />
        <xs:element type="xs:double" name="left"  />
        <xs:element type="xs:double" name="top"  />
        <xs:element name="connections" minOccurs="0" maxOccurs="1"  type="ConnectionType" />

        <xs:element name="inputs" type="InputType" minOccurs="0" />
        <xs:element name="inputLabels" type="InputLabel" minOccurs="0" />
        <xs:element name="outputs" type="OutputType" minOccurs="0" />
        <xs:element name="options" type="OptionsType" minOccurs="0" />


      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>