CommonSchemas/info.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType mixed="true" name="htmlType">
    <xs:sequence>
        <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>


  <xs:element name="info">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:string" name="author" minOccurs="0" maxOccurs="1" />
        <xs:element type="xs:string" name="url" minOccurs="0" maxOccurs="1" />
        <xs:element type="xs:date" name="date" minOccurs="0" maxOccurs="1" />

        <xs:element name="abstract" type="htmlType" minOccurs="0" maxOccurs="1" />
        <xs:element name="details" type="htmlType" minOccurs="0" maxOccurs="1" />
        <xs:element name="inputs" type="htmlType" minOccurs="0" maxOccurs="1" />
        <xs:element name="outputs" type="htmlType" minOccurs="0" maxOccurs="1" />
        <xs:element name="options" type="htmlType" minOccurs="0" maxOccurs="1" />

      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>