CommonSchemas/WorkflowsCommon.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="TableTypes.xsd" />

  <xs:complexType name="ConnectionType">
    <xs:sequence>
      <xs:element name="connection" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="3">
              <xs:element type="xs:string" name="to" />
              <xs:element type="xs:string" name="from" />
              <xs:element type="xs:string" name="index" />
              <xs:element type="xs:string" name="frindex" />
              <xs:element type="xs:string" name="tindex" />
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InputContainer">
    <xs:sequence>
      <xs:element type="xs:string" name="component_id"  />
      <xs:element type="xs:string" name="component_id_human"  />
      <xs:element type="xs:string" name="component_type"  />
      <xs:element type="xs:string" name="component_name"  />
      <xs:element type="xs:integer" name="elapsed_seconds" />
      <xs:element type="xs:string" name="errors" />
    </xs:sequence>
  </xs:complexType>

<xs:simpleType name="FileInputHeader" >
   <xs:restriction base="xs:string" />
</xs:simpleType>

<xs:simpleType name="MultiFileInputHeader" >
   <xs:restriction base="xs:string" />
</xs:simpleType>

<xs:simpleType name="FixedEffectsPanel" >
	<xs:restriction base="xs:string" />
</xs:simpleType>

<xs:simpleType name="RandomEffectsPanel" >
	<xs:restriction base="xs:string" />
</xs:simpleType>

<xs:simpleType name="TetradGraphEditor" >
  <xs:restriction base="xs:string" />
</xs:simpleType>

<xs:simpleType name="TetradKnowledge" >
  <xs:restriction base="xs:string" />
</xs:simpleType>

<xs:simpleType name="Detectors" >
  <xs:restriction base="xs:string" />
</xs:simpleType>

<xs:simpleType name="Import" >
  <xs:restriction base="xs:string" />
</xs:simpleType>

<xs:simpleType name="Anonymize" >
  	<xs:restriction base="xs:string" />
</xs:simpleType>

<xs:simpleType name="FileOptionHeader" >
   <xs:restriction base="xs:string" />
</xs:simpleType>

<xs:attribute name="hidden" type="xs:boolean" />
<xs:attribute name="dependsOn" type="xs:string" />
<xs:attribute name="dependentOption" type="xs:string" />
<xs:attribute name="constraint" type="xs:string" />
<xs:attribute name="negation" type="xs:boolean" />

<xs:simpleType name="disjunctive">
  <xs:restriction base="xs:string" />
</xs:simpleType>

<xs:simpleType name="conjunctive">
  <xs:restriction base="xs:string" />
</xs:simpleType>

<xs:attribute name="inputNodeIndex" type="xs:string" />
<xs:attribute name="inputFileIndex" type="xs:string" />

<xs:attribute name="privateOption" type="xs:boolean" />

</xs:schema>
