SimModels/schemas/SimModels_v1_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:ls="http://learnsphere.org/ls" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd"/>
  <xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element name="files" type="OutFileList0"/>
          <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="text"/>
    </xs:choice>
  </xs:complexType>
  
    <xs:complexType name="OutputDefinition1">
        <xs:complexContent>
            <xs:extension base="InputContainer">
                <xs:sequence>
                    <xs:element type="OutFileList1" name="files" />
                    <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList1">
        <xs:choice>
            <xs:element ref="text" />
        </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="OutputDefinition2">
        <xs:complexContent>
            <xs:extension base="InputContainer">
                <xs:sequence>
                    <xs:element type="OutFileList2" name="files" />
                    <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList2">
        <xs:choice>
            <xs:element ref="image" />
        </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0"/>
      <xs:element name="output1" type="OutputDefinition1"/>
      <xs:element name="output2" type="OutputDefinition2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="truemodelType" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="True A Model"/>
            <xs:enumeration value="True B Model"/>
            <xs:enumeration value="True C Mdoel"/>
        </xs:restriction>
  </xs:simpleType>  
 <xs:simpleType name="predmodelType" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Pred A Model"/>
            <xs:enumeration value="Pred B Model"/>
            <xs:enumeration value="Pred C Mdoel"/>
        </xs:restriction>
  </xs:simpleType>
  
   <xs:simpleType name="kcType" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="KC (Default)"/>
            <xs:enumeration value="KC (Cluster)"/>
            <xs:enumeration value="KC (Item Model)"/>
        </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="OptionsType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="truemodelType"  name="truemodel"  id="True_model" default="True A Model"/>
      <xs:element type="predmodelType"  name="predmodel"  id="Pred_model" default="Pred A Model"/>
      <xs:element type="xs:integer" name="nstu" id="No_of_Student" default="100"/>
      <xs:element type="xs:integer" name="ntrials" id="No_of_Trials" default="50"/>
      <xs:element type="kcType" name="item_id" id="KC" default="KC (Default)"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="component">
    <xs:complexType>
      <xs:all>
        <xs:element name="workflow_id" type="xs:integer"/>
        <xs:element name="component_id" type="xs:string"/>
        <xs:element name="component_id_human" type="xs:string"/>
        <xs:element name="component_name" type="xs:string"/>
        <xs:element name="component_type" type="xs:string"/>
        <xs:element name="left" type="xs:double"/>
        <xs:element name="top" type="xs:double"/>
        <xs:element maxOccurs="1" minOccurs="0" name="connections" type="ConnectionType"/>
        <xs:element minOccurs="0" name="outputs" type="OutputType"/>
        <xs:element minOccurs="0" name="options" type="OptionsType"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>