ImportXAPI/schemas/ImportXAPI_v1_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ls="http://learnsphere.org/ls" >

  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd" />

  <xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList0" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="tab-delimited" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="option_dependency">
    <xs:choice>		
      <xs:element type="disjunctive" name="filterDependency01" ls:dependentOption="Filter02" ls:dependsOn="Filter01" ls:constraint="matches(null)" ls:negation="true"/> 
      <xs:element type="disjunctive" name="filterDependency02" ls:dependentOption="Filter03" ls:dependsOn="Filter02" ls:constraint="matches(null)" ls:negation="true"/> 
      <xs:element type="disjunctive" name="filterDependency03" ls:dependentOption="Filter04" ls:dependsOn="Filter03" ls:constraint="matches(null)" ls:negation="true"/> 
      <xs:element type="disjunctive" name="filterDependency04" ls:dependentOption="Filter05" ls:dependsOn="Filter04" ls:constraint="matches(null)" ls:negation="true"/> 
      <xs:element type="disjunctive" name="filterDependency05" ls:dependentOption="Filter06" ls:dependsOn="Filter05" ls:constraint="matches(null)" ls:negation="true"/> 
      <xs:element type="disjunctive" name="filterDependency06" ls:dependentOption="Filter07" ls:dependsOn="Filter06" ls:constraint="matches(null)" ls:negation="true"/> 
      <xs:element type="disjunctive" name="filterDependency07" ls:dependentOption="Filter08" ls:dependsOn="Filter07" ls:constraint="matches(null)" ls:negation="true"/> 
      <xs:element type="disjunctive" name="filterDependency08" ls:dependentOption="Filter09" ls:dependsOn="Filter08" ls:constraint="matches(null)" ls:negation="true"/> 
      <xs:element type="disjunctive" name="filterDependency09" ls:dependentOption="Filter10" ls:dependsOn="Filter09" ls:constraint="matches(null)" ls:negation="true"/>
      
      <xs:element type="disjunctive" name="prosessDependency01" ls:dependentOption="Process02" ls:dependsOn="Process01" ls:constraint="matches(null)" ls:negation="true"/>
      <xs:element type="disjunctive" name="prosessDependency02" ls:dependentOption="Process03" ls:dependsOn="Process02" ls:constraint="matches(null)" ls:negation="true"/>
      <xs:element type="disjunctive" name="prosessDependency03" ls:dependentOption="Process04" ls:dependsOn="Process03" ls:constraint="matches(null)" ls:negation="true"/>
      <xs:element type="disjunctive" name="prosessDependency04" ls:dependentOption="Process05" ls:dependsOn="Process04" ls:constraint="matches(null)" ls:negation="true"/>
      <xs:element type="disjunctive" name="prosessDependency05" ls:dependentOption="Process06" ls:dependsOn="Process05" ls:constraint="matches(null)" ls:negation="true"/>
      <xs:element type="disjunctive" name="prosessDependency06" ls:dependentOption="Process07" ls:dependsOn="Process06" ls:constraint="matches(null)" ls:negation="true"/>
      <xs:element type="disjunctive" name="prosessDependency07" ls:dependentOption="Process08" ls:dependsOn="Process07" ls:constraint="matches(null)" ls:negation="true"/>
      <xs:element type="disjunctive" name="prosessDependency08" ls:dependentOption="Process09" ls:dependsOn="Process08" ls:constraint="matches(null)" ls:negation="true"/>
      <xs:element type="disjunctive" name="prosessDependency09" ls:dependentOption="Process10" ls:dependsOn="Process09" ls:constraint="matches(null)" ls:negation="true"/>
       
      <xs:element type="disjunctive" name="useDependency01" ls:dependentOption="customfilter_code" ls:dependsOn="use_customfilter" ls:constraint="matches(true)"/>
      
    </xs:choice>
</xs:complexType>

  <xs:simpleType name="filterType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="null"/> 
      <xs:enumeration value="$and"/>
      <xs:enumeration value="$or"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="processType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="$frequentValues"/>
      <xs:enumeration value="$timeSeries"/>
      <xs:enumeration value="$punchCard"/>
      <xs:enumeration value="$paths"/>
      <xs:enumeration value="$ratio"/>
      <xs:enumeration value="$count"/>
      <xs:enumeration value="$expression"/>
      <xs:enumeration value="$min"/>
      <xs:enumeration value="$max"/>
      <xs:enumeration value="$keys"/>
      <xs:enumeration value="$toCanonicalDisplay"/>
    </xs:restriction>
  </xs:simpleType>
       
  <xs:complexType name="OptionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
    <xs:element type="xs:string" name="url" id="url" default="null" />
    <xs:element type="xs:string" name="username" id="username" default="null" ls:privateOption="true" />
    <xs:element type="xs:string" name="password" id="password" default="null" ls:privateOption="true" />
    <xs:element type="xs:boolean" name="use_customfilter" id="use_customfilter" default="false" />
    <xs:element type="xs:string" name="customfilter_code" id="customfilter_code" />

    <xs:element type="filterType" name="FilterOperator" id="filter_operator" default="$and" />
    <xs:element type="xs:string" name="Filter01" id="filter_01" default="null" />
    <xs:element type="xs:string" name="Filter02" id="filter_02" default="null" />
    <xs:element type="xs:string" name="Filter03" id="filter_03" default="null" />
    <xs:element type="xs:string" name="Filter04" id="filter_04" default="null" />
    <xs:element type="xs:string" name="Filter05" id="filter_05" default="null" />
    <xs:element type="xs:string" name="Filter06" id="filter_06" default="null" />
    <xs:element type="xs:string" name="Filter07" id="filter_07" default="null" />
    <xs:element type="xs:string" name="Filter08" id="filter_08" default="null" />
    <xs:element type="xs:string" name="Filter09" id="filter_09" default="null" />
    <xs:element type="xs:string" name="Filter10" id="filter_10" default="null" />

    <xs:element type="processType" name="ProcessOperator" id="Process_operator" default="$frequentValues" />
    <xs:element type="xs:string" name="Process01" id="process_01" default="null" />
    <xs:element type="xs:string" name="Process02" id="process_02" default="null" />
    <xs:element type="xs:string" name="Process03" id="process_03" default="null" />
    <xs:element type="xs:string" name="Process04" id="process_04" default="null" />
    <xs:element type="xs:string" name="Process05" id="process_05" default="null" />
    <xs:element type="xs:string" name="Process06" id="process_06" default="null" />
    <xs:element type="xs:string" name="Process07" id="process_07" default="null" />
    <xs:element type="xs:string" name="Process08" id="process_08" default="null" />
    <xs:element type="xs:string" name="Process09" id="process_09" default="null" />
    <xs:element type="xs:string" name="Process10" id="process_10" default="null" />
    
    <xs:element type="xs:string" name="outcome" id="outcome" default="null" />
    <xs:element type="xs:string" name="limit" id="limit" default="null" />
    </xs:choice>
  </xs:complexType>

  <xs:element name="component">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:integer" name="workflow_id" />
        <xs:element type="xs:string" name="component_id" />
        <xs:element type="xs:string" name="component_id_human" />
        <xs:element type="xs:string" name="component_name" />
        <xs:element type="xs:string" name="component_type" />
        <xs:element type="xs:double" name="left" />
        <xs:element type="xs:double" name="top" />
        <xs:element name="connections" minOccurs="0" maxOccurs="1"  type="ConnectionType" />
        <xs:element name="options" type="OptionsType" minOccurs="0" />
        <xs:element name="outputs" type="OutputType" minOccurs="0" />
      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>
