ImportXAPI/schemas/ImportXAPI_v1_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd" />

    <xs:complexType name="InputDefinition0">
      <xs:complexContent>
        <xs:extension base="InputContainer">
          <xs:sequence>
            <xs:element type="InFileList0" name="files" />
            <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="InputType">
      <xs:all>
        <xs:element name="input0" type="InputDefinition0" minOccurs="0" />
      </xs:all>
    </xs:complexType>

    <xs:complexType name="InFileList0">
      <xs:choice>
        <xs:element ref="file" minOccurs="0" />
      </xs:choice>
    </xs:complexType>

    <xs:complexType name="InputLabel">
      <xs:all>
        <xs:element name="input0" type="xs:string" default="text" minOccurs="0" />
      </xs:all>
    </xs:complexType>

  <xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList0" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="text" />
    </xs:choice>
  </xs:complexType>


    <xs:complexType name="OutputDefinition1">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList1" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

    <xs:complexType name="OutFileList1">
    <xs:choice>
      <xs:element ref="tab-delimited" />
    </xs:choice>
  </xs:complexType>

      <xs:complexType name="OutputDefinition2">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList2" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

    <xs:complexType name="OutFileList2">
    <xs:choice>
      <xs:element ref="tab-delimited" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0" />
      <xs:element name="output1" type="OutputDefinition1" />
      <xs:element name="output2" type="OutputDefinition2" />
    </xs:sequence>
  </xs:complexType>


  <xs:simpleType name="filterType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Null" />
      <xs:enumeration value="filterByVerb" />
      <xs:enumeration value="filterByActor" />
      <xs:enumeration value="filterByActivity" />
      <xs:enumeration value="filterByRegistration" />
      <xs:enumeration value="filterBySince" />
      <xs:enumeration value="filterByUntil" />
      <xs:enumeration value="Custome" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="OptionsType">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
    <xs:element type="xs:string" name="userid" id="userid" default="" ls:privateOption="true"/>
    <xs:element type="filterType" name="filter" id="filter" default="Null" />
    <xs:element type="xs:string" name="url" id="url" default="http://lrs.x-in-y.com/data/xAPI/" />
    <xs:element type="xs:string" name="username" id="username" default="user" />
    <xs:element type="xs:string" name="password" id="password" default="password" />
    <xs:element type="xs:string" name="filterValue" id="filterValue" default="Null" />
    <xs:element type="xs:string" name="customFilter" id="customFilter" default="context.extensions.yourExtension" />
    </xs:choice>
  </xs:complexType>

  <xs:element name="component">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:integer" name="workflow_id" />
        <xs:element type="xs:string" name="component_id" />
        <xs:element type="xs:string" name="component_id_human" />
        <xs:element type="xs:string" name="component_name" />
        <xs:element type="xs:string" name="component_type" />
        <xs:element type="xs:double" name="left" />
        <xs:element type="xs:double" name="top" />
        <xs:element name="connections" minOccurs="0" maxOccurs="1"  type="ConnectionType" />

        <xs:element name="inputs" type="InputType" minOccurs="0" />
        <xs:element name="inputLabels" type="InputLabel" minOccurs="0" />
        <xs:element name="options" type="OptionsType" minOccurs="0" />
        <xs:element name="outputs" type="OutputType" minOccurs="0" />
      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>
