AnalysisRglm/schemas/Rglm_v1_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ls="http://learnsphere.org/ls" >

  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd" />

  <xs:complexType name="InputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList0" name="files" />
              <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InputType">
    <xs:all>
      <xs:element name="input0" type="InputDefinition0" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="InputLabel">
    <xs:all>
      <xs:element name="input0" type="xs:string" default="tab-delimited" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="InFileList0">
    <xs:choice>
      <xs:element ref="file"  minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList0" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="student-step" />
    </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="OutputDefinition1">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList1" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="OutFileList1">
    <xs:choice>
      <xs:element ref="analysis-summary" />
    </xs:choice>
  </xs:complexType>

  
  <xs:complexType name="OutputDefinition2">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList2" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="OutFileList2">
    <xs:choice>
      <xs:element ref="model-values" />
    </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="OutFileList3">
    <xs:choice>
      <xs:element ref="parameters" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="OutputDefinition3">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList3" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0" />
      <xs:element name="output1" type="OutputDefinition1" />
      <xs:element name="output2" type="OutputDefinition2" />
      <xs:element name="output3" type="OutputDefinition3" />
    </xs:sequence>
  </xs:complexType>


  <xs:simpleType name="familyType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="binomial (link = logit)" />
      <xs:enumeration value="binomial (link = probit)" />
      <xs:enumeration value="binomial (link = cloglog)" />
      <xs:enumeration value="gaussian (link = identity)" />
      <xs:enumeration value="Gamma (link = inverse)" />
      <xs:enumeration value="Gamma (link = identity)" />
      <xs:enumeration value="Gamma (link = log)" />
      <xs:enumeration value="inverse.gaussian (link = 1/mu^2)" />
      <xs:enumeration value="poisson (link = log)" />
      <xs:enumeration value="poisson (link = identity)" />
      <xs:enumeration value="poisson (link = sqrt)" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="modelingType" final="restriction">
    <xs:restriction base="xs:string">
    <xs:enumeration value="lm" />
    <xs:enumeration value="lmer" />
    <xs:enumeration value="glm" />
    	<xs:enumeration value="glmer" />
    </xs:restriction>
  </xs:simpleType>

  <!--  <xs:complexType name="option_dependency">
	<xs:choice>
	<xs:element type="disjunctive" name="dependency1"
		ls:dependentOption="randomEffects" ls:dependsOn="modelingFunc" ls:constraint="matches(glmer)" />
	</xs:choice>
  </xs:complexType>-->

  <xs:complexType name="option_dependency">
	<xs:choice>
	<xs:element type="disjunctive" name="dependency1" ls:dependentOption="randomEffects" ls:dependsOn="modelingFunc" ls:constraint="matches(lmer)" />
	<xs:element type="disjunctive" name="dependency2" ls:dependentOption="randomEffects" ls:dependsOn="modelingFunc" ls:constraint="matches(glmer)" />
	<xs:element type="disjunctive" name="dependency3" ls:dependentOption="family" ls:dependsOn="modelingFunc" ls:constraint="matches(glm)" />
	<xs:element type="disjunctive" name="dependency4" ls:dependentOption="family" ls:dependsOn="modelingFunc" ls:constraint="matches(glmer)" />
	</xs:choice>
</xs:complexType>




  <xs:complexType name="OptionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
    	<xs:element type="modelingType" name="modelingFunc" id="Modeling_type" default="glmer" />
        <xs:element type="familyType" name="family" id="Family" default="binomial (link = logit)" />
        <xs:element type="FileInputHeader" name="response" id="Response" default=".*" />
        <xs:element type="FixedEffectsPanel" name="fixedEffects" id="Fixed_effects" minOccurs="0" default=".*" />
        <xs:element type="RandomEffectsPanel" name="randomEffects" id="Random_effects" minOccurs="0" default=".*"/>
        <xs:element type="xs:string" name="predictionColName" id="Prediction_Column_Name" minOccurs="0" default="Predicted Error Rate (Linear Model)"/>
    </xs:choice>
  </xs:complexType>


  <xs:element name="component">
    <xs:complexType>
      <xs:all >
        <xs:element type="xs:integer" name="workflow_id"  />
        <xs:element type="xs:string" name="component_id"  />
        <xs:element type="xs:string" name="component_id_human"  />
        <xs:element type="xs:string" name="component_name"  />
        <xs:element type="xs:string" name="component_type"  />
        <xs:element type="xs:double" name="left"  />
        <xs:element type="xs:double" name="top"  />
        <xs:element name="connections" minOccurs="0" maxOccurs="1"  type="ConnectionType" />

        <xs:element name="inputs" type="InputType" minOccurs="0" />
        <xs:element name="inputLabels" type="InputLabel" minOccurs="0" />
        <xs:element name="options" type="OptionsType"/>
        <xs:element name="outputs" type="OutputType" minOccurs="0" />


      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>