LearningCurveGraph/schemas/LearningCurveGraph_v1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:ls="http://learnsphere.org/ls" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd"/>
  
  <xs:complexType name="InputDefinition0">
        <xs:complexContent>
            <xs:extension base="InputContainer">
                <xs:sequence>
                    <xs:element type="InFileList0" name="files" />
                    <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="InputType">
    <xs:choice maxOccurs="unbounded">
        <xs:element minOccurs="0" name="input0" type="InputDefinition0" maxOccurs="10"/>
    </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="InputLabel">
    <xs:all>
       <xs:element name="input0" type="xs:string" default="transaction" minOccurs="0" />
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="InFileList0">
        <xs:choice>
            <xs:element ref="file" minOccurs="0" />
        </xs:choice>
    </xs:complexType>
  
  <xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element name="files" type="OutFileList0"/>
          <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="image"/>
    </xs:choice>
  </xs:complexType>
  
    <xs:complexType name="OutputDefinition1">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element name="files" type="OutFileList1"/>
          <xs:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="OutFileList1">
    <xs:choice>
      <xs:element ref="image"/>
    </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0"/>
      <xs:element name="output1" type="OutputDefinition1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OptionsType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element type="xs:string"  name="freqthres" id="freqThres" default="0.1"/>
        <xs:element type="xs:string"  name="KC_Model" id="KC_Model" default="KC (Default)"/>
    </xs:choice>
  </xs:complexType>

  <xs:element name="component">
    <xs:complexType>
      <xs:all>
        <xs:element name="workflow_id" type="xs:integer"/>
        <xs:element name="component_id" type="xs:string"/>
        <xs:element name="component_id_human" type="xs:string"/>
        <xs:element name="component_name" type="xs:string"/>
        <xs:element name="component_type" type="xs:string"/>
        <xs:element name="left" type="xs:double"/>
        <xs:element name="top" type="xs:double"/>
        <xs:element maxOccurs="1" minOccurs="0" name="connections" type="ConnectionType"/>
        <xs:element minOccurs="0" name="inputs" type="InputType"/>
        <xs:element minOccurs="0" name="inputLabels" type="InputLabel"/>
        <xs:element minOccurs="0" name="outputs" type="OutputType"/>
        <xs:element minOccurs="0" name="options" type="OptionsType"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
