AnalysisInterventionEffects/schemas/AnalysisInterventionEffects_v1_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ls="http://learnsphere.org/ls" >

  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd" />
  

  <xs:complexType name="InputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList0" name="files" />
              <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InFileList0">
    <xs:choice>
      <xs:element ref="file"  minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="InputType">
    <xs:all>
      <xs:element name="input0" type="InputDefinition0" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="InputLabel">
    <xs:all>
      <xs:element name="input0" type="xs:string" default="tab-delimited" minOccurs="0" />
    </xs:all>
  </xs:complexType>

  
  <xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList0" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="analysis-summary" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="OutputDefinition1">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList1" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="OutFileList1">
    <xs:choice>
      <xs:element ref="pdf" />
    </xs:choice>
  </xs:complexType>
  

  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0" />
      <xs:element name="output1" type="OutputDefinition1" />
    </xs:sequence>
  </xs:complexType>
 
  
  <xs:simpleType name="facetingGroupType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Had intervention" />
      <xs:enumeration value="Pre and post intervention" />
    </xs:restriction>
  </xs:simpleType>
  
  
  
  
  

  <xs:complexType name="OptionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
    	<xs:element id="Student_Column" name="studentColumn" type="FileInputHeader" default=".*" />
    	<xs:element id="Had_Intervention_Column" name="hadInterventionColumn" type="FileInputHeader" default=".*" />
    	<xs:element id="Pre_Post_Intervention_Column" name="postInterventionColumn" type="FileInputHeader" default=".*" />
    	<xs:element id="Number_of_Measurements" name="numberOfMeasurements" type="xs:integer" default="1" />
    	<xs:element id="Measurement_1_Column" name="measurementColumn1" type="FileInputHeader" default=".*" />
    	<xs:element id="Faceting_Group_for_Measurement_1" name="facetingGroup1" type="facetingGroupType" default="Had intervention" />
    	<xs:element id="Measurement_2_Column" name="measurementColumn2" type="FileInputHeader" default=".*" />
    	<xs:element id="Faceting_Group_for_Measurement_2" name="facetingGroup2" type="facetingGroupType" default="Had intervention" />
    	<xs:element id="Measurement_3_Column" name="measurementColumn3" type="FileInputHeader" default=".*" />
    	<xs:element id="Faceting_Group_for_Measurement_3" name="facetingGroup3" type="facetingGroupType" default="Had intervention" />
    	<xs:element id="Measurement_4_Column" name="measurementColumn4" type="FileInputHeader" default=".*" />
    	<xs:element id="Faceting_Group_for_Measurement_4" name="facetingGroup4" type="facetingGroupType" default="Had intervention" />
    	<xs:element id="Measurement_5_Column" name="measurementColumn5" type="FileInputHeader" default=".*" />
    	<xs:element id="Faceting_Group_for_Measurement_5" name="facetingGroup5" type="facetingGroupType" default="Had intervention" />
    	
    </xs:choice>
  </xs:complexType>
   
  <xs:complexType name="option_dependency">
	<xs:choice>
	<xs:element type="disjunctive" name="dependency1" ls:dependentOption="measurementColumn1" ls:dependsOn="numberOfMeasurements" ls:constraint="gte(1)" />
	<xs:element type="disjunctive" name="dependency2" ls:dependentOption="facetingGroup1" ls:dependsOn="numberOfMeasurements" ls:constraint="gte(1)" />
	<xs:element type="disjunctive" name="dependency3" ls:dependentOption="measurementColumn2" ls:dependsOn="numberOfMeasurements" ls:constraint="gte(2)" />
	<xs:element type="disjunctive" name="dependency4" ls:dependentOption="facetingGroup2" ls:dependsOn="numberOfMeasurements" ls:constraint="gte(2)" />
	<xs:element type="disjunctive" name="dependency5" ls:dependentOption="measurementColumn3" ls:dependsOn="numberOfMeasurements" ls:constraint="gte(3)" />
	<xs:element type="disjunctive" name="dependency6" ls:dependentOption="facetingGroup3" ls:dependsOn="numberOfMeasurements" ls:constraint="gte(3)" />
	<xs:element type="disjunctive" name="dependency7" ls:dependentOption="measurementColumn4" ls:dependsOn="numberOfMeasurements" ls:constraint="gte(4)" />
	<xs:element type="disjunctive" name="dependency8" ls:dependentOption="facetingGroup4" ls:dependsOn="numberOfMeasurements" ls:constraint="gte(4)" />
	<xs:element type="disjunctive" name="dependency9" ls:dependentOption="measurementColumn5" ls:dependsOn="numberOfMeasurements" ls:constraint="gte(5)" />
	<xs:element type="disjunctive" name="dependency10" ls:dependentOption="facetingGroup5" ls:dependsOn="numberOfMeasurements" ls:constraint="gte(5)" />
	
	</xs:choice>
</xs:complexType>





  <xs:element name="component">
    <xs:complexType>
      <xs:all >
        <xs:element type="xs:integer" name="workflow_id"  />
        <xs:element type="xs:string" name="component_id"  />
        <xs:element type="xs:string" name="component_id_human"  />
        <xs:element type="xs:string" name="component_name"  />
        <xs:element type="xs:string" name="component_type"  />
        <xs:element type="xs:double" name="left"  />
        <xs:element type="xs:double" name="top"  />
        <xs:element name="connections" minOccurs="0" maxOccurs="1"  type="ConnectionType" />

        <xs:element name="inputs" type="InputType" minOccurs="0" />
        <xs:element name="inputLabels" type="InputLabel" minOccurs="0" />
        <xs:element name="options" type="OptionsType"/>
        <xs:element name="outputs" type="OutputType" minOccurs="0" />


      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>