FuzzyMatching/schemas/FuzzyMatching_v1_0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ls="http://learnsphere.org/ls" >

  <xs:include schemaLocation="../../CommonSchemas/WorkflowsCommon.xsd" />

  <xs:complexType name="InputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList0" name="files" />
              <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="InFileList0">
    <xs:choice>
      <xs:element ref="file"  minOccurs="0" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="InputDefinition1">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="InFileList1" name="files" />
              <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="InFileList1">
    <xs:choice>
      <xs:element ref="file"  minOccurs="0" />
    </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="InputType">
    <xs:all>
      <xs:element name="input0" type="InputDefinition0" minOccurs="1" />
      <xs:element name="input1" type="InputDefinition1" minOccurs="0" />
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="InputLabel">
    <xs:all>
      <xs:element name="input0" type="xs:string" default="text" minOccurs="0" />
      <xs:element name="input1" type="xs:string" default="text" minOccurs="0" />
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="OutputDefinition0">
    <xs:complexContent>
      <xs:extension base="InputContainer">
        <xs:sequence>
          <xs:element type="OutFileList0" name="files" />
          <xs:any minOccurs="0" processContents="skip" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="OutFileList0">
    <xs:choice>
      <xs:element ref="tab-delimited" />
    </xs:choice>
  </xs:complexType>


  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element name="output0" type="OutputDefinition0" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="matchingModeType" final="restriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="File to file" />
      <xs:enumeration value="File to string" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="OptionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element type="matchingModeType" name="matching_mode" id="Matching_Mode" default="File to file" />
      <xs:element id="Threshold" name="threshold" type="xs:integer" default="70" />
      <xs:element id="Column_to_Match" name="column_to_match" type="FileInputHeader" default=".*" ls:inputNodeIndex="0" ls:inputFileIndex="0"/>
   		<xs:element id="String_to_Match" name="string_to_match" type="xs:string" default="" />
      	<xs:element id="Number_of_Columns_to_Match" name="num_column_to_match" type="xs:integer" default="1" />
      	
      	<xs:element id="File_1_Column_1_to_Match" name="file1_column1_to_match" type="FileInputHeader" default=".*" ls:inputNodeIndex="0" ls:inputFileIndex="*"/>
      	<xs:element id="File_2_Column_1_to_Match" name="file2_column1_to_match" type="FileInputHeader" default=".*" ls:inputNodeIndex="1" ls:inputFileIndex="*"/>
      	<xs:element id="File_1_Column_2_to_Match" name="file1_column2_to_match" type="FileInputHeader" default=".*" ls:inputNodeIndex="0" ls:inputFileIndex="*"/>
      	<xs:element id="File_2_Column_2_to_Match" name="file2_column2_to_match" type="FileInputHeader" default=".*" ls:inputNodeIndex="1" ls:inputFileIndex="*"/>
      	<xs:element id="File_1_Column_3_to_Match" name="file1_column3_to_match" type="FileInputHeader" default=".*" ls:inputNodeIndex="0" ls:inputFileIndex="*"/>
      	<xs:element id="File_2_Column_3_to_Match" name="file2_column3_to_match" type="FileInputHeader" default=".*" ls:inputNodeIndex="1" ls:inputFileIndex="*"/>
      	<xs:element id="File_1_Column_4_to_Match" name="file1_column4_to_match" type="FileInputHeader" default=".*" ls:inputNodeIndex="0" ls:inputFileIndex="*"/>
      	<xs:element id="File_2_Column_4_to_Match" name="file2_column4_to_match" type="FileInputHeader" default=".*" ls:inputNodeIndex="1" ls:inputFileIndex="*"/>
      	
    </xs:choice> 
  </xs:complexType>
 	
<xs:complexType name="option_dependency">
	<xs:choice>
	<xs:element type="disjunctive" name="dependency1" ls:dependentOption="column_to_match" ls:dependsOn="matching_mode" ls:constraint="matches(File to string)" />
	<xs:element type="disjunctive" name="dependency2" ls:dependentOption="string_to_match" ls:dependsOn="matching_mode" ls:constraint="matches(File to string)" />
	
	<xs:element type="disjunctive" name="dependency3" ls:dependentOption="num_column_to_match" ls:dependsOn="matching_mode" ls:constraint="matches(File to file)" />
	
	<xs:element type="conjunctive" name="dependency4" ls:dependentOption="file1_column1_to_match" ls:dependsOn="num_column_to_match" ls:constraint="gte(1)" />
	<xs:element type="conjunctive" name="dependency5" ls:dependentOption="file1_column1_to_match" ls:dependsOn="matching_mode" ls:constraint="matches(File to file)" />
	<xs:element type="conjunctive" name="dependency6" ls:dependentOption="file2_column1_to_match" ls:dependsOn="num_column_to_match" ls:constraint="gte(1)" />
	<xs:element type="conjunctive" name="dependency7" ls:dependentOption="file2_column1_to_match" ls:dependsOn="matching_mode" ls:constraint="matches(File to file)" />
	
	<xs:element type="conjunctive" name="dependency8" ls:dependentOption="file1_column2_to_match" ls:dependsOn="num_column_to_match" ls:constraint="gte(2)" />
	<xs:element type="conjunctive" name="dependency9" ls:dependentOption="file1_column2_to_match" ls:dependsOn="matching_mode" ls:constraint="matches(File to file)" />
	<xs:element type="conjunctive" name="dependency10" ls:dependentOption="file2_column2_to_match" ls:dependsOn="num_column_to_match" ls:constraint="gte(2)" />
	<xs:element type="conjunctive" name="dependency11" ls:dependentOption="file2_column2_to_match" ls:dependsOn="matching_mode" ls:constraint="matches(File to file)" />
	
	<xs:element type="conjunctive" name="dependency12" ls:dependentOption="file1_column3_to_match" ls:dependsOn="num_column_to_match" ls:constraint="gte(3)" />
	<xs:element type="conjunctive" name="dependency13" ls:dependentOption="file1_column3_to_match" ls:dependsOn="matching_mode" ls:constraint="matches(File to file)" />
	<xs:element type="conjunctive" name="dependency14" ls:dependentOption="file2_column3_to_match" ls:dependsOn="num_column_to_match" ls:constraint="gte(3)" />
	<xs:element type="conjunctive" name="dependency15" ls:dependentOption="file2_column3_to_match" ls:dependsOn="matching_mode" ls:constraint="matches(File to file)" />
	
	<xs:element type="conjunctive" name="dependency16" ls:dependentOption="file1_column4_to_match" ls:dependsOn="num_column_to_match" ls:constraint="gte(4)" />
	<xs:element type="conjunctive" name="dependency17" ls:dependentOption="file1_column4_to_match" ls:dependsOn="matching_mode" ls:constraint="matches(File to file)" />
	<xs:element type="conjunctive" name="dependency18" ls:dependentOption="file2_column4_to_match" ls:dependsOn="num_column_to_match" ls:constraint="gte(4)" />
	<xs:element type="conjunctive" name="dependency19" ls:dependentOption="file2_column4_to_match" ls:dependsOn="matching_mode" ls:constraint="matches(File to file)" />
	
	</xs:choice>
</xs:complexType>

  

  <xs:element name="component">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:integer" name="workflow_id" />
        <xs:element type="xs:string" name="component_id" />
        <xs:element type="xs:string" name="component_id_human" />
        <xs:element type="xs:string" name="component_name" />
        <xs:element type="xs:string" name="component_type" />
        <xs:element type="xs:double" name="left" />
        <xs:element type="xs:double" name="top" />
        <xs:element name="connections" minOccurs="0" maxOccurs="1"  type="ConnectionType" />
        <xs:element name="inputs" type="InputType" minOccurs="0" />
        <xs:element name="inputLabels" type="InputLabel" minOccurs="0" />
        <xs:element name="options" type="OptionsType" minOccurs="0" />
        <xs:element name="outputs" type="OutputType" minOccurs="0" />


      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>
